*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{

    width:100% ;
    height: 100vh;
    background-color: gray;
    display: flex;
}
.leftpart{
    flex-basis: 50%;
    
     display: flex; 
     flex-direction: column;
     
     /* we have to devide in 3 equal parts  */ 
}
.content{
    flex-basis: 33%;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid red;
}
.rightpart{
    flex-basis: 50%;
    height: 100%;
    background-color: rgb(63, 63, 165);
}
.leftpart.content label{
    background-color: black;
    margin-left: 30px;
    display: block;
    color: white;
    padding: 10px 0px;
    background-color: blue;
}

.leftpart .content textarea {
    width: 100%;
    height: 90%;
    background-color: black;
    color: white;
      
}
.all{
    display: flex;
    flex-direction: column;
}
